
table {
  	border: 2px solid black;
  	cursor: pointer;

}

thead {
   font-weight: bold;
     text-align: center;
     background-color: #EAAE56;
     font-size: 20px;
}

thead td {
    border: 2px solid black;
    colspan: 1;
}

tbody {
    text-align: center
}


tbody td {
    border: 2px solid black;
      colspan: 1;
}


.cell-name-highlight {
  background-color: gold;
  font-weight: bold;
}
