
table {
  	border: 2px solid black;
  	cursor: pointer;

}

thead {
    font-weight: bold;
    text-align: center;
    background-color: #EAAE56;
    font-size: 20px;
}

thead td {
    border: 2px solid black;
    colspan: 1;
}

.col-md-6 {
 margin-left: 20%;
 margin-right: 20%;
 display: inline-block;
}

td {
 width: 20%;
}

.cell-createtime-highlight {
   width: 25%;
    background-color: grey;
}

.cell-description-highlight {
    width: 40%;
}

.cell-availability-highlight {
    width: 25%;
}


.cell-name-highlight {
  background-color: gold;
  font-weight: bold;
    width: 35%;
}

tbody {
    text-align: center
}


tbody td {
    border: 2px solid black;

}



.overlay-content {
    display: none;
    background: #fff;
    padding: 1%;
  /*  width: 40%; */
    position: absolute;
    top: 25%;
    left: 50%;
    margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
    cursor: default;
    z-index: 10001;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
    height: 135px;
    font-weight: bold;
    background-color: #AEFA98;
}

.close-btn {
    cursor: pointer;
    border: 1px solid #333;
    padding: 2% 5%;
    background: #a9e7f9; /* fallback */
    background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
    background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    position: absolute;
    bottom: 15%;
    left: 75%;
}

.close-btn:hover {
    background: #93CFFF;
}
